name: Mise en production sur le site Lucie Veyron
on:
  push:
    branches:
    - master

jobs:
  deploiement:
    runs-on: ubuntu-latest
    steps:
    - name: Installer xmlstarlet
      run: sudo apt-get install xmlstarlet

    - name: Charger le dépot
      uses: actions/checkout@v2

    - name: Incrémenter la version du paquet.xml
      run: |
        current_version=$(xmlstarlet sel -t -v "/paquet/@version" paquet.xml)
        major=$(echo "$current_version" | awk -F. '{print $1}')
        minor=$(echo "$current_version" | awk -F. '{print $2}')
        patch=$(echo "$current_version" | awk -F. '{print $3}')

        # Vérifier le texte descriptif du commit pour les mots-clés
        commit_message="${{ github.event.head_commit.message }}"
        if echo "$commit_message" | grep -q -E '(majeur|major)'; then
          # Incrémenter le chiffre majeur et réinitialiser le chiffre mineur et le chiffre de correctif
          incremented_version="$((major + 1)).0.0"
        elif echo "$commit_message" | grep -q -E '(mineur|minor)'; then
          # Incrémenter le chiffre mineur et réinitialiser le chiffre de correctif
          incremented_version="${major}.$((minor + 1)).0"
        elif echo "$commit_message" | grep -q -E '(correctif|patch)'; then
          # Incrémenter le chiffre de correctif
          incremented_version="${major}.${minor}.$((patch + 1))"
        else
          # Aucun mot-clé trouvé, incrémenter le chiffre de correctif par défaut
          incremented_version="${major}.${minor}.$((patch + 1))"
        fi

        xmlstarlet ed --inplace -u "/paquet/@version" -v "$incremented_version" paquet.xml
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git add paquet.xml
        git commit -m "Incrémentation automatique de la version du paquet.xml"
        git push

    - name: Vérifier l'existence de la branche "prod"
      id: check_branch
      run: |
        if git rev-parse --verify --quiet prod; then
          echo "::set-output name=branch_exists::true"
        else
          echo "::set-output name=branch_exists::false"
        fi

    - name: Supprimer la branche "prod" si elle existe
      if: steps.check_branch.outputs.branch_exists == 'true'
      run: |
        git push origin --delete prod
        git fetch

    - name: Créer la branche "prod"
      run: git branch prod

    - name: Recopier la branche "master" vers la branche "prod"
      run: git push --force origin master:prod

    - name: Recharger le dépot
      uses: actions/checkout@v2

    - name: Nettoyer la branche "prod"
      run: |
        git checkout prod
        rm -f .gitignore
        rm -rf .github
        rm -rf .tools
        git commit -am "Nettoyage avant déploiement (suppression .github .gitignore .tools)"
        git push origin prod

    - name: Installer PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    - name: Minifier les fichiers PHP
      run: |
        find . -type f -name '*.php' | while read -r file; do
          php -w "$file" > "$file.min.php"
          mv "$file.min.php" "$file"
        done

    - name: Commit et push des fichiers minifiés
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git add .
        git commit -m "Minification des fichiers"
        git push

    - name: Déploiement par RSync sur le serveur de prod
      uses: burnett01/rsync-deployments@5.2
      with:
        switches: -avzr --delete --exclude=".git" --exclude=".github" --exclude=".gitignore"
        path: /
        remote_path: ${{ secrets.PROD_SSH_PATH }}
        remote_host: ${{ secrets.PROD_SSH_HOSTNAME }}
        remote_user: ${{ secrets.PROD_SSH_USERNAME }}
        remote_key: ${{ secrets.PROD_SSH_PRIVATE_KEY }}
        remote_port: 43921

    - name: Extraire le numéro de version
      id: extract_version
      run: |
        current_version=$(xmlstarlet sel -t -v "/paquet/@version" paquet.xml)
        echo "::set-output name=version::$current_version"

    - name: Créer une release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.extract_version.outputs.version }}
        release_name: Release v${{ steps.extract_version.outputs.version }}
        draft: false
        prerelease: false
        commitish: prod

    - uses: robinraju/release-downloader@v1.8
      with:
        latest: true
        tarBall: false
        zipBall: true
        out-file-path: "release"
        extract: false
        token: ${{ secrets.GITHUB_TOKEN }}
